/*------------------------------------*\
    #CONFIG
\*------------------------------------*/

$b-multiSlideShow-numberOfImagesPerCategory: 3;
$b-multiSlideShow-numberOfCategories: 4;
$b-multiSlideShow-numberOfMiniSlideShows: 4;
$b-multiSlideShow-aspectRatio: 1.5;
$b-multiSlideShow-mainWidth: 600px;
$b-multiSlideShow-horizontalSpacing: 8px;
$b-multiSlideShow-verticalSpacing: 8px;
$b-multiSlideShow-overlapRegionLength: 100px;