/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.b-footer {
	width: $b-footer-width;
	height: $b-footer-height;
	background-color: red;
	margin: 0 auto;
}