/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.b-header {
	width: $b-header-width;
	height: $b-header-height;
	background-color: red;
	margin: 0 auto;
}