/*------------------------------------*\
    #MULTI SLIDE SHOW
\*------------------------------------*/

$b-multiSlideShow-mainHeight: $b-multiSlideShow-mainWidth / $b-multiSlideShow-aspectRatio;
$b-multiSlideShow-mainOverlapLength: $b-multiSlideShow-overlapRegionLength / ($b-multiSlideShow-numberOfImagesPerCategory - 1);

$b-multiSlideShow-miniHeight: ($b-multiSlideShow-mainHeight - $b-multiSlideShow-verticalSpacing * ($b-multiSlideShow-numberOfMiniSlideShows - 1)) / $b-multiSlideShow-numberOfMiniSlideShows;
$b-multiSlideShow-miniWidth: $b-multiSlideShow-miniHeight * $b-multiSlideShow-aspectRatio;

$b-multiSlideShow-categoryHeight: $b-multiSlideShow-mainHeight;
$b-multiSlideShow-categoryWidth: $b-multiSlideShow-mainWidth + $b-multiSlideShow-overlapRegionLength;

$b-multiSlideShow-width: $b-multiSlideShow-categoryWidth + $b-multiSlideShow-miniWidth + $b-multiSlideShow-horizontalSpacing;
$b-multiSlideShow-height: $b-multiSlideShow-categoryHeight;

.b-multiSlideShow {
	width: $b-multiSlideShow-width;
	height: $b-multiSlideShow-height;
}

%f-multiSlideShow-slideShow {
	overflow: hidden;
}

.b-multiSlideShow-category {
	@extend %f-multiSlideShow-slideShow;
	vertical-align: top;
	width: $b-multiSlideShow-categoryWidth;
	height: $b-multiSlideShow-categoryHeight;
	display: inline-block;
	margin-right: $b-multiSlideShow-horizontalSpacing;
}

.b-multiSlideShow-category-wrapper {
	width: $b-multiSlideShow-categoryWidth !important; // overriding carouFredSel plugin
}

.b-multiSlideShow-main-wrapper {
	width: $b-multiSlideShow-categoryWidth !important; // overriding carouFredSel plugin
}

.b-multiSlideShow-previews {
	vertical-align: top;
	width: $b-multiSlideShow-miniWidth;
	height: 100%;
	display: inline-block;
}

.b-multiSlideShow-mini {
	@extend %f-multiSlideShow-slideShow;
	width: $b-multiSlideShow-miniWidth;
	height: $b-multiSlideShow-miniHeight;

	margin-top: $b-multiSlideShow-verticalSpacing;
	background-color: green;

	&:first-child {
		margin-top: 0;
	}
}

.b-multiSlideShow-mini-item {
	width: $b-multiSlideShow-miniWidth;
	height: $b-multiSlideShow-miniHeight;
	float: left;
	background-size: cover;
	@for $i from 1 through $b-multiSlideShow-numberOfCategories {
		&.image#{$i} {
			//background-image: url($imageDirectory + 'image#{$i}.gif');
			background-color: rgb(0, $i*255/$b-multiSlideShow-numberOfCategories, 0);
		}
	}
}

.b-multiSlideShow-category-item {
	@extend %f-multiSlideShow-slideShow;
	float: left;
}

.b-multiSlideShow-main {
	vertical-align: top;
	overflow: hidden;
}

.b-multiSlideShow-main-item {
	width: $b-multiSlideShow-mainOverlapLength;
	height: $b-multiSlideShow-mainHeight;
	display: inline-block;

	&.active {
		width: $b-multiSlideShow-mainWidth;
	}

	float: left;
	background-size: cover;
	@for $i from 1 through $b-multiSlideShow-numberOfCategories {
		@for $j from 1 through $b-multiSlideShow-numberOfImagesPerCategory {
			&.image#{$i}-#{$j} {
				//background-image: url($imageDirectory + 'image#{$i}-#{$j}.gif');
				background-color: rgb(0, $i*255/$b-multiSlideShow-numberOfCategories, $j*255/$b-multiSlideShow-numberOfImagesPerCategory);
			}
		}
	}
}
